body{
  padding: 5px;
  margin: 0px;
  background-color: chocolate
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  
  .form-group {
    margin-bottom: 5px;
  }
  